#main{
    display: inline-flex;
    padding-left: 200px;
}


#div2{
    width: 200px;
    height: 150px;
    background-color: aqua;
    margin: 10px;
}

#div1{
    width: 200px;
    height: 150px;
    background-color: red;
    margin: 10px;
}

#div3{
    width: 200px;
    height: 150px;
    background-color: rgb(255, 174, 0);
    margin: 10px;
    
}

#loading {
    width: 60px;
    height: 3px;
    background-color: rgb(255, 47, 0);
    animation: linear  10s  myloading;
}

@keyframes myloading {

    0%{ width: 60px;
        height: 3px;
        background-color: rgb(255, 47, 0);
    }

50%{width: 600px;
    height: 3px;
    background-color: blue;
}


75%{width: 800px;
    height: 3px;
    background-color: pink;
}

100%{width: 1000px;
    height: 3px;
    background-color: black;
}





    /* from{
        width: 500px;
        height: 3px;
        background-color: aqua;
    }

    to{
        width: 1200px;
        height: 3px;
        background-color: blueviolet;
    } */


}


#main1 {
    display: inline-flex;
    padding-left: 150px;

}

#box1{
    width: 300px;
    height: 300px;
    background-color: red;
    margin: 15px;
    animation: linear  10s myrotate;
}

#box2{
    width: 300px;
    height: 300px;
    background-color: blue;
    margin: 15px;
    animation: linear  10s myrotate;
}
#box3{
    width: 300px;
    height: 300px;
    background-color: yellow;
    margin: 15px;
    animation: linear  10s myrotate;
}

@keyframes myrotate{
    from{
        transform: rotate(90deg);
    }
    to{
        transform: rotate(360deg);
    }
}